<li style="background:gray; padding: 10px 0">UNDERSTANDING DBR</li>
<li><a href="{{ site.understanding }}architecture.html" class="otherLinkColour">Architecture</a></li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-performance.html" -%}
<li><a href="{{ site.understanding }}structure-and-interfaces-of-parameters.html" class="otherLinkColour">Template Structure</a></li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-parameters/parameters-references.html" -%}